.cardpanel{
    display: grid;
    width:23vw;
    height:50vh;
    margin-right: 1rem;
    margin-left:1rem;
    margin-bottom: 5%;
    justify-items: center;
    align-items: center;
    border:0.5px solid rgba(105,98,105,0.2);
    border-radius: 5px;
    background: whitesmoke;
    box-shadow: 8px 9px 14px -7px rgba(105,98,105,0.84);
    -moz-box-shadow: 8px 9px 14px -7px rgba(105,98,105,0.84);

    @media screen  and (max-width:760px){
        width:17rem;
        height: 23rem;
      }

      &:hover{
        transform: translateY(-5px) scale(1.01);
        transition: 0.4s ease;
      }

 &.yellow{

        &:hover{
         background: rgba(255, 215, 97, 0.48);
        }

        
        
 }
 &.gray{

    &:hover{
     background:gray;
    }
}

 &.blue{

    &:hover{
     background:cornflowerblue;
    }
}

&.red{

    &:hover{
     background:rgba(220,20,60, 0.48);
    }
}

&.green{

    &:hover{
     background: rgba(206, 178, 252, 0.48);
    }
}


 &.orange{

    &:hover{
     background:orchid;
    }
}

  &.pink{
    &:hover{
     background: rgba(220, 233, 255, 0.48);
    }
}
    img{
        width: 40%;
        border-radius: 50%;
     
    }
    
    .card-name{
        font-size: 1.2rem;
    }

    .num{
        font-size: 1.2rem;
    }

    .num >span > button{
        font-size: 1.3rem;
        padding: 0 0.5rem;
    }

}